@use 'sass:map';
@use '@angular/material' as mat;
@use '/src/scss/utility/utilities' as utils;

@mixin _layout($theme) {
  $typography: mat.get-typography-config($theme);
  $color: mat.get-color-config($theme);

  width: 67vw;
  height: 75vh;

  .linha {
    @include utils.make-flex();
  }

  .coluna {
    @include utils.make-flex($direction: 'column');
    height: fit-content;
  }

  .content-container {
    height: inherit;
  }

  .content-container .content-wrapper {
    flex: 1 0;
    height: 100%;
    gap: 15px;

    .content-header {
      .title {
        @include mat.typography-level($typography, title);
        justify-content: center;
        padding: 5px;
      }
    }

    .content-body {
      overflow-y: auto;
      flex: 1 0;

      .content,
      .filter-controls,
      .content .items {
        width: 100%;
      }

      .content {
        height: 100%;
        gap: 5px;

        .filter-controls .mat-icon-button {
          @include utils.make-square(fit-content);
        }

        .items {
          overflow: hidden auto;
          flex: 1 0;
          flex-wrap: wrap;
          align-items: stretch;
          align-content: stretch;
          padding-top: 20px;
          padding-bottom: 10px;
          column-gap: 5px;
          row-gap: 20px;

          .item:only-child {
            align-self: flex-start;
          }
        }

        .items.view-list {
          justify-content: stretch;

          .item {
            width: 100%;
          }
        }

        .items.view-column {
          justify-content: flex-start;

          .item {
            $width: calc(50% - 3px);
            width: $width;
          }
        }

        .item {
          .mat-card {
            box-sizing: border-box;
          }

          .mat-card,
          .preview {
            height: 100%;
            width: 100%;
          }

          .preview {
            gap: 25px;
            position: relative;
          }

          .left-content {
            width: 80px;
            height: 80px;

            &:hover {
              transform: none;
              z-index: auto;
            }
          }

          .middle-content,
          .controls-container {
            gap: 5px;
          }

          .middle-content {
            .title {
              @include mat.typography-level($typography, title);
              margin: 0;
            }

            .bottom-content-wrapper,
            .dados-carrinho {
              column-gap: 30px;

              .detail,
              .detail + span {
                @include mat.typography-level($typography, subheading-1);
              }

              .detail + span {
                margin-left: 5px;

                &:not(:first-of-type)::before {
                  top: 6px;
                  left: -15px;
                }
              }
            }
          }

          .controls-container {
            .item-type {
              $label-background-color: map.get($color, accent, A700);
              $border-color: map.get($color, background, card);

              position: absolute;
              box-sizing: border-box;
              @include mat.typography-level($typography, caption);
              font-weight: bold;
              background-color: $label-background-color;
              color: map.get($color, accent, A700-contrast);
              padding: 2px 3px;
              top: -28px;
              right: 0;

              &::before,
              &::after {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                top: 0;
                border-bottom: 12px solid map.get($color, background, card);
                border-top: 12px solid map.get($color, background, background);
              }

              &::before {
                left:-1rem;
                border-right: 15px solid $label-background-color;
              }

              &::after {
                right: -1rem;
                border-left: 15px solid $label-background-color;
              }
            }

            .cart-controls {
              &,
              .container {
                gap: 5px;
              }

              .container .mat-form-field {
                min-width: 50px!important;
                width: 50px;
              }
            }
          }
        }

        .filter-controls {
          gap: 10px;

          .mat-form-field {
            @include utils.reset-form-field($theme);
          }

          .mat-form-field:nth-child(2) {
            flex: 1 0;
          }
        }
      }
    }

    .content-footer {
      justify-content: center;
      flex-direction: row-reverse;
      gap: 20px;
    }
  }
}

@mixin theme($theme) {
  .adicionar-items-diag .mat-dialog-container {
    background-color: map.get(mat.get-color-config($theme), background, background);
  }

  .select-items-component {
    @include _layout($theme);
  }
}
