<footer class="footer-component">
  <mat-toolbar class="main-footer">
    <div class="footer-content">
      <div class="container top-content">
        <section class="section">
          <h4>SOBRE NÓS</h4>
          <p>Uma história cativante e comovonte sobre a Inaluma MakeUp</p>
        </section>
        <section class="section">
          <h4>CONTACTE-NOS</h4>
          <p class="spread"><span>Endereço</span><span>Morro Bento, Luanda, Angola</span></p>
          <p class="spread"><span>Linha Telefónica</span> <span>(+244) 924 35 58 84</span></p>
          <p class="spread"><span>Linha Telefónica</span> <span>(+244) 914 82 68 62</span></p>
        </section>
        <section class="section">
          <h4>LINKS ÚTEIS</h4>
          <p><a routerLink="{{routes.servicos}}">Serviços</a></p>
          <p><a routerLink="{{routes.servicos}}">Produtos</a></p>
        </section>
      </div>
      <mat-divider></mat-divider>
      <div class="container bottom-content">
        <div class="left-content">
          Copyright @{{ano}} Todos os direitos reservados
        </div>
        <div class="right-content">
          <a [href]="fbURL" mat-mini-fab color="secondary" target="_blank" class="mat-elevation-z0"><fa-icon [icon]="faFacebook" size="lg"></fa-icon></a>
          <a [href]="'instagram'" mat-mini-fab color="secondary" class="mat-elevation-z0"><fa-icon [icon]="faInstagram" size="lg"></fa-icon></a>
          <a [href]="'facebook'" mat-mini-fab color="secondary" class="mat-elevation-z0"><fa-icon [icon]="faFacebook"></fa-icon></a>
        </div>
      </div>
    </div>
  </mat-toolbar>
</footer>
