@use 'sass:map';
@use '@angular/material' as mat;
@use '/src/scss/utility/utilities' as utils;

@mixin _layout($theme)  {
  .preview {
    @include utils.make-flex($alignItems: 'center', $gap: '40px');
    position: relative;
    z-index: 50;

    .left-content {
      width: 150px;
      height: 150px;

      will-change: transform;
      transition: transform 1s ease-in-out;

      &:hover {
        transform: translate(50px, 25px) scale(1.5);
        z-index: 100;
      }
    }

    .middle-content,
    .controls-container {
      @include utils.make-flex($direction: 'column', $gap: '10px');
    }

    .middle-content {
      height: 100%;
      flex: 1 0;

      .item-type {
        align-self: flex-end;
        text-transform: uppercase;
        background-color: map.get(mat.get-color-config($theme), accent, 900);
        border-radius: 50px;
        padding: 5px 10px;
        opacity: .85;
      }

      .title {
        font-variant: small-caps;
        @include _includeFontConfs($theme, 'display-2');
      }

      .bottom-content-wrapper,
      .dados-carrinho {
        @include utils.make-flex($wrap: 'wrap');
        row-gap: 5px;
        column-gap: 60px;

        & > span {
          position: relative;
        }

        .detail {
          @include _includeFontConfs($theme, 'headline')
        }

        .detail + span {
          margin-left: 20px;
          @include _includeFontConfs($theme, 'headline');
          color: map.get(mat.get-color-config($theme), foreground, disabled-text);

          &:not(:first-of-type)::before {
            position: absolute;
            top: 11px;
            left: -20px;
            display: block;
            content: '';
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: currentColor//map.get(mat.get-color-config($theme), background, background);
          }
        }
      }

      .info {
        display: none;

        &.show {
          display: block;
        }
      }
    }

    .controls-container {
      align-items: flex-end;

      .delete {
        will-change: display, margin;
        @include utils.make-flex($gap: '10px');

        & > * {
          display: none;
          overflow: hidden;
        }

        .deleting-controls button:first-child {
          margin-right: 8px;
        }

        .viewing,
        .deleting {
          display: block;
        }
      }

      .cart-controls {
        @include utils.make-flex($direction: 'column', $alignItems: 'flex-end', $gap: '10px', $wrap: 'wrap');

        .container {
          @include utils.make-flex($justContent: 'flex-end', $alignItems: 'center', $gap: '10px');
          padding: 0;

          .mat-form-field {
            @include utils.reset-form-field($theme);
            min-width: 70px!important;
            width: 70px;
          }
        }
      }
    }
  }
}

@mixin _includeFontConfs($theme: Map, $conf_name: string) {
  $conf: map.get(mat.get-typography-config($theme), $conf_name);

  font-size: map.get($conf, font-size);
  line-height: map.get($conf, line-height);
  font-weight: map.get($conf, font-weight);
}

@mixin theme($theme) {
  $color: mat.get-color-config($theme);

  .list-item-preview {
    @include _layout($theme);
  }
}
