<div class="header-component">
  <mat-toolbar class="main-toolbar">
    <nav class="left-content">
      <a routerLink="{{routes.home}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">INALUMA MAKEUP</a>
      <a routerLink="{{routes.servicos}}" routerLinkActive="active">SERVIÇOS</a>
      <a routerLink="{{routes.produtos}}" routerLinkActive="active">PRODUTOS</a>
      <ng-container *ngIf="isLogado">
        <a routerLink="{{routes.agendamentos}}" routerLinkActive="active">AGENDAMENTOS</a>
        <a routerLink="{{routes.compras}}" routerLinkActive="active">COMPRAS</a>
      </ng-container>
    </nav>
    <div class="right-content">
      <a [routerLink]="routes.carrinho" mat-mini-fab [color]="cartColor" [class.tem-itens]="showBadge" [matBadge]="estadoCarrinho.qtdItens"
        [matBadgeHidden]="!showBadge" matBadgePosition="before" matBadgeColor="accent" class="mat-elevation-z0" routerLinkActive="active" *ngIf="isLogado">
        <mat-icon>shopping_cart</mat-icon>
      </a>
      <button color="secondary" mat-mini-fab class="mat-elevation-z0" (click)="toggleDarkMode()">
        <mat-icon class="theme-icon">
          <ng-container *ngIf="isDarkThemeMode else light">light_mode</ng-container>
          <ng-template #light>dark_mode</ng-template>
        </mat-icon>
      </button>
      <button color="secondary" mat-mini-fab [matMenuTriggerFor]="usrOpt" class="mat-elevation-z0"><mat-icon>account_circle</mat-icon></button>
      <mat-menu #usrOpt="matMenu">
        <ng-template matMenuContent>
          <button mat-menu-item (click)="login()">{{isLogado ? 'Terminar Sessão': 'Iniciar Sessão'}}</button>
          <button mat-menu-item (click)="signUp()" *ngIf="!isLogado || canAdd()">{{canAdd() ? 'Cadastrar Funcionário' : 'Cadastrar-se'}}</button>
        </ng-template>
      </mat-menu>
    </div>
  </mat-toolbar>
</div>
