<mat-card class="documento-item-component linha">
  <div class="coluna">
    <header class="item-header linha">
      <span class="estado-agendamento">Estado</span>
      <span class="data-agendamento">Data</span>
    </header>
    <section class="body">
      <div class="linha">
        <span class="rotulo">Serviço</span>
        <span></span>
      </div>
      <div class="linha">
        <span class="rotulo">Cliente</span>
        <span></span>
      </div>
      <div class="linha">
        <div class="coluna">
          <div class="linha">
            <span class="rotulo">Número Documento</span>
            <span></span>
          </div>
        </div>
        <div class="linha">
          <div class="coluna">
            <span class="rotulo">Status</span>
            <span></span>
          </div>
        </div>
      </div>
      <div class="linha">
        <span class="rotulo">Funcionário</span>
        <span></span>
      </div>
      <div class="linha">
        <div class="coluna">
          <div class="linha">
            <span class="rotulo">Quantidade</span>
            <span></span>
          </div>
        </div>
        <div class="coluna">
          <div class="linha">
            <span class="rotulo">Total a Pagar</span>
            <span></span>
          </div>
        </div>
      </div>
    </section>
    <footer class="item-footer linha">
      <button mat-flat-button color="warn">Cancelar</button>
      <button mat-flat-button color="accent">Detalhes</button>
      <button mat-flat-button color="accent">Atender</button>
      <button mat-flat-button color="accent">Pagar</button>
    </footer>
  </div>
</mat-card>
