<section class="item-list">
  <div class="top-content">
    <div class="controls">
      <button mat-flat-button (click)="back()" color="primary">
        <mat-icon>arrow_back</mat-icon>
        Voltar
      </button>
      <a mat-flat-button [routerLink]="route" color="accent">
        <span>Novo {{itemName}}</span>
        <mat-icon>add</mat-icon>
      </a>
    </div>
    <p class="info"><span class="title">{{itemName}}s cadastrados: </span><span class="value">{{publicItens?.length ?? 0}}</span></p>
    <div class="search-container">
      <mat-form-field appearance="outline" color="accent">
        <input type="text" matInput (keydown)="filter(input.value)" #input/>
        <button mat-icon-button matSuffix (click)="clearFilter(input)"><mat-icon>clear</mat-icon></button>
      </mat-form-field>
      <button color="secondary" mat-mini-fab class="trigger" (click)="filter(input.value)" class="mat-elevation-z0"><mat-icon>search</mat-icon></button>
    </div>
  </div>
  <ng-container *ngIf="publicItens?.length else nothingToSee"><app-list-item-preview *ngFor="let item of publicItens" [item]="item" (removeChild)="updateList($event)"></app-list-item-preview></ng-container>
  <ng-template #nothingToSee><div [class.grow]="!publicItens?.length"><h2>Lamentamos mas a nossa base de dados encontra-se actualmente vazia!</h2></div></ng-template>
</section>
