<section class="select-cliente-dialog">
  <mat-toolbar mat-dialog-title>Selecionar Cliente</mat-toolbar>
  <div mat-dialog-content class="clientes">
    <mat-card class="cliente" *ngFor="let usr of clientes$ | async">
      <div>
        <h3>{{usr.nome}} {{usr.sobrenome}}</h3>
        <h4>
          <span>{{usr.contato}}</span>
          <span>{{usr.genero == 'M' ? 'Masculino' : 'Femenino'}}</span>
        </h4>
      </div>
      <button mat-mini-fab color="accent" (click)="selecionar(usr)" class="mat-elevation-z0"><mat-icon>done</mat-icon></button>
    </mat-card>
  </div>
  <button mat-flat-button (click)="cancelar()" color="warn">Cancelar</button>
</section>
