<div class="container">
  <ng-container>Lista de Funcionarios</ng-container>
  <div></div>

  <ng-container>
    <form [formGroup]="formGroup" class="container form">
      <mat-form-field class="container__form">
        <input matInput placeholder="Procurar funcionario" formControlName="search" type="text" />
      </mat-form-field>
    </form>
  </ng-container>

  <button mat-raised-button mat-elevation="6" class="button" (click)="navegateToAdd()"> <mat-icon
      class="mat-18">add</mat-icon>
    Cadastrar novo funcionario
  </button>
</div>

<div></div>

<!-- <ng-container *ngFor="let item of dataSource.data">
 <mat-icon >person</mat-icon> {{item.id}}  {{item.nome}}  {{item.genero}}  {{item.contacto}}
</ng-container> -->

<div class="container">
  <mat-expansion-panel [hideToggle]="false" *ngFor="let item of dataSource.data">
    <mat-expansion-panel-header>{{item.id + ' '+ item.nome +' '+ item.sobrenome}} </mat-expansion-panel-header>

    <ng-container>
      Genero: {{item.genero}}
    </ng-container>

    <ng-container>
      Contato: {{item.contacto}}
    </ng-container>

    <mat-action-row>
      <button color="primary" mat-raised-button>
        Editar
        <mat-icon class="mat-18">edit</mat-icon>
      </button>

      <button color="warn" mat-raised-button>
        Excluir
        <mat-icon class="mat-18">delete</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</div>