@use '@angular/material' as mat;
@use '../application-theme' as appT;

// define the typography configuration; since no configuration is passed, the default is emitted
$typography: mat.define-typography-config();

// Define the light theme.
$_primary: mat.define-palette(mat.$deep-purple-palette, 300);
$_accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$_theme: mat.define-light-theme((
  color: (
    primary: $_primary,
    accent: $_accent
  ),
  typography: $typography
));
.light-theme-mode {
  color-scheme: only light;
  @include appT.theme($_theme);
}

// Define the dark theme.
$_primary: mat.define-palette(mat.$purple-palette, 700);
$_accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$_theme: mat.define-dark-theme((
  color: (
    primary: $_primary,
    accent: $_accent
  ),
  typography: $typography
));
.dark-theme-mode {
  color-scheme: dark;
  @include appT.theme($_theme);
}
