<mat-progress-bar mode="indeterminate" color="accent" *ngIf="showProgressBar" class="progress"></mat-progress-bar>
<section class="item-form">
  <form enctype="multipart/form-data" [formGroup]="itemForm" class="column">
    <section class="header-content column full-space">
      <div class="row">
        <div class="column">
          <mat-button-toggle-group name="tipoFormulario" [value]="formActual" (change)="handleButtonGroupChange($event)">
            <mat-button-toggle value="produto" [checked]="isProduto">Produtos</mat-button-toggle>
            <mat-button-toggle value="servico" [checked]="!isProduto">Serviços</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
    </section>
    <section class="content-row first row">
      <div class="upload-container column">
        <div class="preview"><img [src]="imagePath" /></div>
        <input type="file" accept="image/x-png,image/jpeg" hidden (change)="onFileSelected($event)" #file formControlName="imagem">
        <button mat-flat-button (click)="file.click()"><span>Selecionar Imagem</span><mat-icon>attach_file</mat-icon></button>
      </div>
      <div class="rows-container column">
        <div class="row full-space">
          <span class="title">Nome</span>
          <mat-form-field appearance="fill" color="accent">
            <input type="text" placeholder="Nome" matInput formControlName="nome"/>
            <mat-error>Campo obrigatório</mat-error>
          </mat-form-field>
        </div>
        <p class="row full-space">
          <span class="title">Preço</span>
          <mat-form-field appearance="fill" color="accent">
            <mat-error>Campo obrigatório</mat-error>
            <input type="number" matInput formControlName="preco" placeholder="Preço"/>
          </mat-form-field>
        </p>
        <div class="row" *ngIf="isProduto else servico">
          <div class="row">
            <span class="title">Tipo</span>
            <mat-form-field appearance="fill" color="accent">
              <input type="text" matInput formControlName="tipo" [matAutocomplete]="tipos"/>
              <mat-error>Campo obrigatório</mat-error>
            </mat-form-field>
            <mat-autocomplete #tipos="matAutocomplete" autoActiveFirstOption>
              <mat-option *ngFor="let opt of filteredOptions | async" [value]="opt">{{opt}}</mat-option>
            </mat-autocomplete>
          </div>
          <div class="row">
            <span class="title">Estoque</span>
            <mat-form-field appearance="fill" color="accent">
              <input type="number" matInput formControlName="stock"/>
              <mat-error>Campo obrigatório</mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <span class="title">Código do Produto</span>
            <mat-form-field appearance="fill" color="accent">
              <input type="text" matInput formControlName="code"/>
              <mat-error>Campo obrigatório</mat-error>
            </mat-form-field>
          </div>
        </div>
        <ng-template #servico>
          <div class="row">
            <div class="row">
              <span class="title">Duração</span>
              <mat-form-field appearance="fill" color="accent">
                <input type="number" matInput formControlName="duracao"/>
                <mat-hint>Tempo aproximado do serviço: {{duracao}}</mat-hint>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-button-toggle-group (change)="unidadeChanged($event)" formControlName="units" matTooltip="A unidade da duração" matTooltipShowDelay="1000" matTooltipHideDelay="1000">
                <mat-button-toggle value="H" [checked]="true">Hora</mat-button-toggle>
                <mat-button-toggle value="M">Minuto</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
        </ng-template>
      </div>
    </section>
    <section class="content-row second row">
      <mat-form-field appearance="fill" color="accent">
        <textarea matInput minlength="20" rows="10" cols="80" placeholder="Escreva uma descrição de produto" formControlName="descricao"></textarea>
        <mat-error>A descrição tem de ter um mínimo de 20 caracteres</mat-error>
      </mat-form-field>
    </section>
    <section class="controls-row row">
      <button mat-flat-button color="accent" [disabled]="!canSave()" (click)="saveItem()">Salvar</button>
      <button mat-flat-button color="warn" [disabled]="!itemForm.dirty" (click)="limparCampos()">Limpar Campos</button>
      <button mat-flat-button color="warn" (click)="cancelar()">Cancelar</button>
    </section>
  </form>
</section>
