@use 'sass:map';
@use '@angular/material' as mat;
@use '/src/scss/utility/utilities' as utils;

@mixin _layout($theme) {
  min-width: 450px;
  width: 100vw;
  height: 100vh;
  @include utils.make-flex($justContent: 'center', $alignItems: 'center');

  .content-wrapper {
    @include utils.make-flex($justContent: 'center', $alignItems: 'center', $wrap: 'wrap');
    max-width: 60%;
    height: 65%;
    padding: 0;

    .side {
      min-width: 250px;
      height: 100%;
      flex: 1 0;

      &.right-side,
      .fields-container {
        @include utils.make-flex($direction: 'column', $alignItems: 'center', $gap: '20px')
      }

      &.right-side {
        justify-content: center;
        padding: 20px 0;
        height: calc(100% - calc(20px * 2));
        gap: 20px;

        h3 {
          $typography: mat.get-typography-config($theme);
          $conf: map.get($typography, display-1);

          font-size: map.get($conf, font-size);
          line-height: map.get($conf, line-height);
          font-weight: map.get($conf, font-weight);
          font-variant: small-caps;
        }
      }

      form {
        padding: 0 20px;
        padding-top: 0;

        width: calc(100% - 40px);

        .mat-form-field {
          width: 80%;
        }
      }

      .controls-container .controls {
        margin: 0 auto;
        width: fit-content;

        button {
          display: inline-block;
        }

        button:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}

@mixin _color($color) {
  background-color: map.get($color, background, background);
}

@mixin theme($theme) {
  $color: mat.get-color-config($theme);

  .log-in {
    @include _layout($theme);
    @include _color($color);
  }
}
