<section class="log-in">
  <mat-card class="content-wrapper">
    <mat-progress-bar mode="indeterminate" color="accent" *ngIf="showProgress"></mat-progress-bar>
    <div class="side left-side"><img [src]="capa" /></div>
    <div class="side right-side">
      <h3>Iniciar Sessão</h3>
      <form [formGroup]="loginForm">
        <div class="fields-container">
          <mat-form-field appearance="outline" color="accent">
            <mat-icon matPrefix>account_box</mat-icon>
            <mat-label>Nome do Utilizador</mat-label>
            <input type="text" matInput formControlName="username"/>
            <mat-error *ngIf="username.hasError('required')">O nome de utilizador é obrigatório</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" color="accent">
            <mat-icon matPrefix>lock</mat-icon>
            <mat-label>Senha</mat-label>
            <input type="text" matInput formControlName="password"/>
            <mat-error *ngIf="password.hasError('required')">A senha é obrigatória</mat-error>
          </mat-form-field>
        </div>
        <div class="controls-container">
          <div class="controls">
            <button mat-raised-button color="accent" (click)="login()">Entrar</button>
            <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </mat-card>
</section>
