<section class="landing-page">
  <section class="section capa"><img [src]="pathFotoCapa" alt="foto de capa do site" /></section>
  <section class="section produtos-section">
    <h2 class="rotulo">
      <p>Esteja por dentro das novidades</p>
      <p>Temos os melhores produtos de maquilhagem para si</p></h2>
    <div class="items-container produtos">
      <div class="item">Colocar aqui o componente do produto</div>
      <div class="item">Colocar aqui o componente do produto</div>
      <div class="item">Colocar aqui o componente do produto</div>
      <div class="item">Colocar aqui o componente do produto</div>
    </div>
    <button mat-flat-button color="primary">Ver todos os produtos</button>
  </section>
  <section class="section clientes-section">
    <h2 class="rotulo">
      <p>Na Inaluma MakeUp, a satisfação dos nossos clientes é a prioridade</p>
    </h2>
    <div class="items-container servicos">
      <div class="item">Colocar aqui o componente do serviço</div>
      <div class="item">Colocar aqui o componente do serviço</div>
      <div class="item">Colocar aqui o componente do serviço</div>
      <div class="item">Colocar aqui o componente do serviço</div>
    </div>
    <button mat-flat-button>Ver todos os serviços</button>
  </section>
</section>
