<section class="landing-page">
  <section class="section capa"><img [src]="pathFotoCapa" alt="foto de capa do site" /></section>
  <section class="section produtos-section">
    <h2 class="rotulo">
      <p>Esteja por dentro das novidades</p>
      <p>Temos os melhores produtos de maquilhagem para si</p></h2>
    <div class="items-container produtos">
      <ng-container *ngIf="produtos?.length else noProds">
        <div class="items"><app-item-preview class="item" *ngFor="let item of produtos" [item]="item"></app-item-preview></div>
        <a mat-flat-button [routerLink]="routes.produtos">Ver todos os produtos</a>
      </ng-container>
      <ng-template #noProds>
        <div class="sem-item">
          <h3>Sem produtos a apresentar, por favor cadastre alguns produtos</h3>
          <p><a mat-button [routerLink]="routes.produtos_add" mat-flat-button>Cadastrar Produtos</a></p>
        </div>
      </ng-template>
    </div>
  </section>
  <section class="section clientes-section">
    <h2 class="rotulo">
      <p>Na Inaluma MakeUp, a satisfação dos nossos clientes é a prioridade</p>
    </h2>
    <div class="items-container servicos">
      <ng-container *ngIf="servicos?.length else noServ">
        <div class="items"><app-item-preview class="item" *ngFor="let item of servicos" [item]="item"></app-item-preview></div>
        <a mat-flat-button [routerLink]="routes.servicos">Ver todos os serviços</a>
      </ng-container>
      <ng-template #noServ>
        <div class="sem-item">
          <h3>Sem serviços a apresentar, por favor cadastre alguns serviços</h3>
          <p><a mat-button [routerLink]="routes.servicos_add" mat-flat-button>Cadastrar Serviços</a></p>
        </div>
      </ng-template>
    </div>
  </section>
</section>
