
$warm-grey-pallete: (
  50: #faf9f7,
  100: #e8e6e1,
  200: #d3cec4,
  300: #b8b2a7,
  400: #a39e93,
  500: #857f72,
  600: #625d52,
  700: #504a40,
  800: #423d33,
  900: #27241d,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff
  )
);

$warm-pink-palette: (
  50: #fdf1f6,
  100: #fbdde7,
  200: #f9c7d8,
  300: #f6b0c8,
  400: #f49fbc,
  500: #f28eb0,
  600: #f086a9,
  700: #ee7ba0,
  800: #ec7197,
  900: #e85f87,
  A100: white,
  A200: white,
  A400: #ffedf2,
  A700: #ffd3df,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$warm-blue-palette: (
  50: #e4fbf9,
  100: #bbf5ef,
  200: #8eefe5,
  300: #61e8db,
  400: #3fe3d3,
  500: #1ddecb,
  600: #1adac6,
  700: #15d5be,
  800: #11d1b8,
  900: #0ac8ac,
  A100: #f4fffd,
  A200: #c1fff5,
  A400: #8effec,
  A700: #74ffe8,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$wasp-red-palette: (
  50: #ffeaea,
  100: #ffcbcb,
  200: #ffa9a9,
  300: #ff8686,
  400: #ff6c6c,
  500: #ff5252,
  600: #ff4b4b,
  700: #ff4141,
  800: #ff3838,
  900: #ff2828,
  A100: white,
  A200: white,
  A400: #ffd6d6,
  A700: #ffbcbc,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$wasp-yellow-palette: (
  50: #fff7e6,
  100: #feecc0,
  200: #fde096,
  300: #fcd36c,
  400: #fcc94d,
  500: #fbc02d,
  600: #faba28,
  700: #fab222,
  800: #f9aa1c,
  900: #f89c11,
  A100: white,
  A200: #fff9f2,
  A400: #ffe3bf,
  A700: #ffd8a5,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
