@use 'sass:map';
@use '@angular/material' as mat;
@use '/src/scss/variables' as vars;
@use '/src/scss/utility/utilities' as utils;

@mixin _layout($theme) {

  .container {
    position: relative;
    padding: 10px 20px;
    width: 100%;
    overflow-y: auto;
    max-height: 100vh;

    @include utils.make-flex($direction: 'column', $gap: '20px');

    .controls-section {
      @include utils.make-flex($justContent: 'center', $alignItems: 'center', $gap: '10px');

      & > :nth-child(2) {
        flex: 1 0;
        text-align: center;
        margin: 0;
        text-transform: uppercase;
      }
    }

    .content-container {
      @include utils.make-flex($gap: '20px');
      overflow-y: auto;

      .items-container {
        overflow-y: auto;
        min-height: calc(100vh - calc(vars.$header-height + 20px));
        flex: 1 0;

        @include utils.make-flex($direction: 'column', $gap: '20px');

        .item-section > * {
          height: 50px;
          font-weight: 600;

          & > * {
            margin-top: 15px;
          }
        }
      }

      .summary-container {
        position: sticky;
        align-self: flex-start;
        // right: 20px;
        top: 0; //calc(vars.$header-height + 10px);

        &> :first-child {
          margin-bottom: 30px;
        }

        .coluna {

          & > .linha {
            flex: 1 0;
            justify-content: stretch;

            & > p {
              width: 100%;
              @include utils.make-flex($justContent: 'space-between', $gap: '10px', $wrap: 'wrap');


            }
          }

          & button {
            width: 100%;
          }
        }
      }
    }

    .linha {
      @include utils.make-flex($gap: '10px');

      .mat-form-field {
        width: 100%;
      }
    }

    .coluna {
      @include utils.make-flex($direction: 'column', $gap: '10px');
    }

    &,
    .linha,
    .coluna {
      box-sizing: border-box;
    }
  }
}

@mixin theme($theme) {
  .carrinho-list {
    @include _layout($theme);
  }
}
